.venv
__pycache__
*.csv
*.joblib
*.pkl
*.pt
*.pth
*.pkl.gz
*.pkl.bz2
*.pkl.zip
*.pkl.tar
*.pkl.tar.gz
mlruns/
dados_benchmark_v1/
modelo_producao_individual.joblib
modelo_producao_individual_info.json