# Framework da API
fastapi
uvicorn[standard]

# Manipulação de Dados e Machine Learning
pandas
numpy
scikit-learn
joblib

# MLflow
mlflow

# Faker (para testes)
Faker

# ADIÇÃO: Conexão com Supabase
psycopg2-binary
python-dotenv
SQLAlchemy>=1.4.0