# Framework da API
fastapi
uvicorn[standard]

# Manipulação de Dados e Machine Learning
pandas
numpy
scikit-learn
joblib

# Versionamento e Rastreamento de Experimentos de IA
mlflow

# Geração de Dados Fictícios (se necessário para testes/simulação)
Faker

# Conexão com Banco de Dados (para o futuro)
psycopg2-binary